<div>
  <div class="Content-left">
    <div class="Heading">
      <img src="assets/images/logo-text.svg" class="Main-Logo" alt="logo" />
      <h1 class="Fast-Efficient-and-Productive Heading-1---LTR">
        {{ 'public-view.left-side.head-text' | translate }}
      </h1>
      <p
        class="Start-managing-your-charge-points-the-right-way Paragraph---LTR">
        {{ 'public-view.left-side.head-text2' | translate }}
      </p>
    </div>
    <div class="Bullets">
      <div class="Bullet">
        <div class="Heading-Bullet">
          <div class="Icon">
            <img
              src="assets/images/Icons_Images_flash.svg"
              class="IconsImagesflash"
              alt="Icons_Images_flash" />
          </div>
          <span class="Control-charge-points-and-connectors">
            {{ 'public-view.left-side.bullts-1-head' | translate }}
          </span>
        </div>
        <div class="Description">
          <p
            class="Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-Ipsum-has-been-the Paragraph---LTR">
            {{ 'public-view.left-side.bullts-1-text' | translate }}
          </p>
        </div>
      </div>
      <div class="Bullet">
        <div class="Heading-Bullet">
          <div class="Icon">
            <img
              src="assets/images/Icons_Devices_Communications_plug.svg"
              class="IconsImagesflash"
              alt="Icons_Devices_Communications_plug" />
          </div>
          <span class="Control-charge-points-and-connectors">
            {{ 'public-view.left-side.bullts-2-head' | translate }}
          </span>
        </div>
        <div class="Description">
          <p
            class="Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-Ipsum-has-been-the Paragraph---LTR">
            {{ 'public-view.left-side.bullts-2-text' | translate }}
          </p>
        </div>
      </div>
      <div class="Bullet">
        <div class="Heading-Bullet">
          <div class="Icon">
            <img
              src="assets/images/Icons_General_bar-chart.svg"
              class="IconsImagesflash"
              alt="Icons_General_bar" />
          </div>
          <span class="Control-charge-points-and-connectors">
            {{ 'public-view.left-side.bullts-3-head' | translate }}
          </span>
        </div>
        <div class="Description">
          <p
            class="Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-Ipsum-has-been-the Paragraph---LTR">
            {{ 'public-view.left-side.bullts-3-text' | translate }}
          </p>
        </div>
      </div>
      <div class="Bullet">
        <div class="Heading-Bullet">
          <div class="Icon">
            <img
              src="assets/images/Icons_Users_users-2.svg"
              class="IconsImagesflash"
              alt="Icons_Users_users" />
          </div>
          <span class="Control-charge-points-and-connectors">
            {{ 'public-view.left-side.bullts-4-head' | translate }}
          </span>
        </div>
        <div class="Description">
          <p
            class="Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-Ipsum-has-been-the Paragraph---LTR">
            {{ 'public-view.left-side.bullts-4-text' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
