.forgot {
  &__formContainer {
    max-width: 44rem;
    margin: 3.4rem auto 4.8rem;
  }
  &__head {
    margin: 1.6rem 0;
  }

  &__helper-text {
    margin-bottom: 3.2rem;
  }
}

.logo {
  width: 8.68rem;
  display: block;
}

.forgot-form {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  input[type='text'] {
    min-height: 4.8rem;
  }
  label {
    align-self: flex-start;
  }
}

:host ::ng-deep {
  .forgot-form {
    &__btn {
      margin: 2.4rem 0 0;
    }
  }
}

// MEDIA

@media only screen and (min-width: 414px) {
}
@media only screen and (min-width: 744px) {
  .logo {
    display: none;
  }

  .forgot {
    &__head {
      margin: 0 0 1.6rem;
    }
    &__formContainer {
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1366px) {
}
