<div class="forgot__formContainer">
  <img
    class="logo"
    src="../../../../assets/images/logo-text.svg"
    alt="volt edge logo" />
  <h2 class="c-gray-900 forgot__head">{{ 'forgot-form.head' | translate }}</h2>
  <p class="forgot__helper-text c-gray-700">
    {{ 'forgot-form.description' | translate }}
  </p>
  <form class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="forgot-form__inputs">
      <label for="username" class="c-gray-800"
        >{{ 'forgot-form.username-lbl' | translate
        }}<span class="required-star">*</span></label
      >
      <div class="input-with-icons two-icons-start-end">
        <img
          class="icon start"
          src="../../../../assets/icons/user-icon.svg"
          alt="user icon" />
        <i
          class="pi icon end pi-times"
          bsClearInput
          [targetControl]="forgotForm.get('username')"
          [targetInput]="usernameRef"></i>
        <input
          id="username"
          formControlName="username"
          [placeholder]="'forgot-form.username-placeholder' | translate"
          type="text"
          pInputText
          aria-describedby="username-help"
          #usernameRef
          bsInputBetterValidation
          [formSubmitted]="formSubmitted"
          [helperElement]="username_help" />
      </div>
    </div>
    <p #username_help class="input-error-helper" id="username-help">
      {{ 'forgot-form.username-validation-msg' | translate }}
    </p>

    <p-button
      [disabled]="isSendingEmail"
      class="w-full"
      styleClass="forgot-form__btn w-full"
      [label]="'forgot-form.cta' | translate"
      type="submit"></p-button>
  </form>

  <!-- SENDING... -->
  <p-messages *ngIf="isSendingEmail" severity="info" class="no-border margin">
    <ng-template pTemplate>
      <i class="pi pi-spinner spin"></i>
      <p>{{ 'forgot-form.messages.sending' | translate }}</p>
    </ng-template>
  </p-messages>

  <!-- SUCCESS -->
  <p-messages
    *ngIf="emailSentSuccessfully && showStatusMessage"
    severity="success"
    class="no-border margin">
    <ng-template pTemplate>
      <i class="pi pi-check-circle"></i>
      <p>{{ 'forgot-form.messages.success' | translate }}</p>
      <i class="pi pi-times message-close" (click)="closeMessage()"></i>
    </ng-template>
  </p-messages>

  <!-- ERROR -->
  <p-messages
    *ngIf="!emailSentSuccessfully && showStatusMessage"
    severity="error"
    class="no-border margin">
    <ng-template pTemplate>
      <i class="pi pi-times-circle"></i>
      <p>{{ errorMessage | translate }}</p>
      <i class="pi pi-times message-close" (click)="closeMessage()"></i>
    </ng-template>
  </p-messages>
</div>
