@import './variables';
.reset {
  &__formContainer {
    max-width: 44rem;
    margin: 3.4rem auto 3.2rem;
  }

  &__head {
    margin: 0 0 1.6rem;
  }

  &__helper-text {
    margin-bottom: 3.2rem;
  }
}

.reset-form {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    input[type='text'] {
      min-height: 4.8rem;
    }

    label {
      align-self: flex-start;
    }

    &:last-of-type {
      margin-top: 2.4rem;
    }
  }
}

:host ::ng-deep {
  .reset-form {
    &__btn {
      margin-top: 2.4rem;
    }
  }
}

.newPassword-reqs-list {
  padding-inline-start: 1.6rem;
  list-style: disc;

  li {
    font-size: 1.6rem;
    &:first-of-type {
      margin-top: 1rem;
    }
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  li::marker {
    color: $error-600;
  }
}
.password-updated {
  max-width: 46rem;
  text-align: center;
  margin: 5rem auto 5rem;
  img {
    max-width: 400px;
    margin: 0 auto 2.4rem;
  }
  p {
    margin-top: 1rem;
  }
}
// MEDIA
@media only screen and (min-width: 414px) {
}
@media only screen and (min-width: 744px) {
  .reset {
    &__formContainer {
      margin: 0 auto;
    }
  }

  .password-updated {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1366px) {
}
