<div
  class="reset__formContainer"
  *ngIf="!passwordUpdatedSuccessfully && !showFallbackComponent">
  <h2 class="c-gray-900 reset__head">{{ 'reset-form.head' | translate }}</h2>
  <p class="reset__helper-text c-gray-700">
    {{ 'reset-form.description' | translate }}
  </p>
  <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="reset-form__inputs">
      <label for="newPassword" class="c-gray-800"
        >{{ 'reset-form.new-password-lbl' | translate
        }}<span class="required-star">*</span></label
      >
      <div class="input-with-icons two-icons-start-end-plus-one">
        <img
          class="icon start"
          src="../../../../assets/icons/key-icon.svg"
          alt="" />
        <i
          class="pi icon end pi-times"
          bsClearInput
          [targetControl]="resetForm.get('newPassword')"
          [targetInput]="passwordInput"></i>
        <p-password
          mediumRegex="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).+$"
          strongRegex="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@.$!%^#*?&()+\/\\';~<>[{}\]|÷،,ـ‘:=_’-]).+$"
          [ngClass]="{
            'ng-dirty': newPasswordHasError()
          }"
          [toggleMask]="true"
          formControlName="newPassword"
          inputId="newPassword"
          #passwordInput
          aria-describedby="newPassword-help"
          (onFocus)="
            passwordInputFocused = true; confirmPasswordInputFocused = true
          "
          (onBlur)="
            passwordInputFocused = false; confirmPasswordInputFocused = false
          "
          [placeholder]="'reset-form.new-password-placeholder' | translate">
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <h6 class="c-error-600">
              {{ 'reset-form.new-password-pattern-label' | translate }}:
            </h6>
            <ul class="newPassword-reqs-list">
              <li>{{ 'reset-form.new-password-pattern-upper' | translate }}</li>
              <li>{{ 'reset-form.new-password-pattern-lower' | translate }}</li>
              <li>
                {{ 'reset-form.new-password-pattern-special' | translate }}
              </li>
              <li>{{ 'reset-form.new-password-pattern-nums' | translate }}</li>
              <li>
                {{ 'reset-form.new-password-pattern-length' | translate }}
              </li>
            </ul>
          </ng-template>
        </p-password>
      </div>
    </div>
    <div id="newPassword-help">
      <p
        class="input-error-helper"
        *ngIf="shouldShowNewPasswordRequiredError()">
        {{ 'reset-form.new-password-required-validation-msg' | translate }}
      </p>
      <p class="input-error-helper" *ngIf="shouldShowNewPasswordLengthError()">
        {{ 'reset-form.new-password-length-validation-msg' | translate }}
      </p>
    </div>

    <div class="reset-form__inputs">
      <label for="confirmPassword" class="c-gray-800"
        >{{ 'reset-form.confirm-password-lbl' | translate
        }}<span class="required-star">*</span></label
      >
      <div class="input-with-icons two-icons-start-end-plus-one">
        <img class="icon start" src="/assets/icons/key-icon.svg" alt="" />
        <i
          class="pi icon end pi-times"
          bsClearInput
          [targetControl]="resetForm.get('confirmPassword')"
          [targetInput]="confirmPasswordInput"></i>
        <p-password
          [ngClass]="{
            'ng-dirty': shouldShowConfirmPasswordError()
          }"
          [toggleMask]="true"
          formControlName="confirmPassword"
          inputId="confirmPassword"
          [feedback]="false"
          #confirmPasswordInput
          [placeholder]="'reset-form.confirm-password-placeholder' | translate"
          aria-describedby="confirmPassword-help"
          (onFocus)="confirmPasswordInputFocused = true"
          (onBlur)="confirmPasswordInputFocused = false">
        </p-password>
      </div>
    </div>
    <p
      id="confirmPassword-help"
      class="input-error-helper"
      *ngIf="shouldShowConfirmPasswordError()">
      {{ 'reset-form.confirm-password-validation-msg' | translate }}
    </p>

    <p-button
      [disabled]="isSubmitting"
      class="w-full"
      styleClass="reset-form__btn w-full"
      [label]="'reset-form.cta' | translate"
      type="submit"></p-button>
  </form>

  <!-- PROCESSING ... -->
  <p-messages *ngIf="isSubmitting" severity="info" class="no-border margin">
    <ng-template pTemplate>
      <i class="pi pi-spinner spin"></i>
      <p>{{ 'reset-form.messages.processing' | translate }}</p>
    </ng-template>
  </p-messages>

  <!-- ERROR - LINK EXPIRED -->
  <p-messages
    *ngIf="linkExpired && showStatusMessage"
    severity="error"
    class="no-border margin">
    <ng-template pTemplate>
      <i class="pi pi-times-circle"></i>
      <p>{{ errorMessage | translate }}</p>
      <i class="pi pi-times message-close" (click)="closeMessage()"></i>
    </ng-template>
  </p-messages>
</div>

<!-- SUCCESS -->
<div
  *ngIf="passwordUpdatedSuccessfully && !showFallbackComponent"
  class="password-updated">
  <img src="/assets/images/password-updated.svg" alt="password updated" />
  <h2 class="c-gray-900">
    {{ 'reset-form.messages.success-head' | translate }}
  </h2>
  <p class="c-gray-700">
    {{ 'reset-form.messages.success-text' | translate }}
    <a class="underline w-500 c-primary-700" routerLink="/login">{{
      'reset-form.messages.success-text-link' | translate
    }}</a>
  </p>
</div>

<!-- Fallback -->
<div *ngIf="showFallbackComponent" class="password-updated">
  <img
    src="../../../../assets/images/error-link-expired.svg"
    alt="password updated" />
  <h2 class="c-gray-900">Reset Password Link Expired</h2>
  <p class="c-gray-700">
    Password recovery link has expired, please recover your password again for a
    new link from
    <a class="underline w-500 c-primary-700" routerLink="/forgot-password"
      >Forgot Password Page</a
    >
  </p>
</div>
