<form (ngSubmit)="onSubmit()">
  <div class="actions-header">
    <h1 class="actions-header__title">
      <a routerLink="/charge-points">
        <i class="pi pi-angle-left actions-header__title_icon"></i>
      </a>
      Add New ChargePoint
    </h1>
    <div class="actions-header__btns">
      <p-button
        icon="pi pi-sync"
        label="Clear Form"
        styleClass="p-button-transparent"
        (onClick)="resetForm()"></p-button>

      <p-button
        type="submit"
        icon="pi pi-plus-circle"
        label="Create"></p-button>
    </div>
  </div>

  <!-- TABS -->

  <div class="card">
    <p-tabView styleClass="tabview-custom">
      <!-- GENERAL -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-list"></i>
          <span
            [ngClass]="{
              'has-error': generalHasError()
            }"
            >General Information</span
          >
          <i *ngIf="generalHasError()" class="pi pi-exclamation-triangle"></i>
        </ng-template>
        <bs-create-charge-point-general></bs-create-charge-point-general>
      </p-tabPanel>

      <!-- CONNECTORS -->
      <p-tabPanel header="Connectors">
        <ng-template pTemplate="header">
          <i class="pi pi-share-alt"></i>
          <span
            [ngClass]="{
              'has-error': connectorsHasError()
            }"
            >Connectors</span
          >
          <i
            *ngIf="connectorsHasError()"
            class="pi pi-exclamation-triangle"></i>
        </ng-template>
        <bs-create-charge-point-connectors></bs-create-charge-point-connectors>
      </p-tabPanel>

      <!-- station -->
      <p-tabPanel header="Station">
        <ng-template pTemplate="header">
          <i class="pi pi-share-alt"></i>
          <span
            [ngClass]="{
              'has-error': stationHasError()
            }"
            >Station</span
          >
          <i *ngIf="stationHasError()" class="pi pi-exclamation-triangle"></i>
        </ng-template>
        <bs-create-charge-point-station></bs-create-charge-point-station>
      </p-tabPanel>

      <!-- SECURITY -->
      <p-tabPanel header="OCPP & Security">
        <ng-template pTemplate="header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <g clip-path="url(#clip0_3337_19416)">
              <path
                d="M9.99935 4.99935V9.99935L13.3327 11.666M18.3327 9.99935C18.3327 14.6017 14.6017 18.3327 9.99935 18.3327C5.39698 18.3327 1.66602 14.6017 1.66602 9.99935C1.66602 5.39698 5.39698 1.66602 9.99935 1.66602C14.6017 1.66602 18.3327 5.39698 18.3327 9.99935Z"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_3337_19416">
                <rect width="20" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <span>OCPP & Security</span>
        </ng-template>
        <bs-create-charge-point-connectors></bs-create-charge-point-connectors>
      </p-tabPanel>
    </p-tabView>
  </div>

  <!-- on create req loading -->
  <p-blockUI [blocked]="isCreating">
    <div class="processing-message">
      <img
        class="ellipse-2"
        src="../../../../assets/images/Processing_Spinner.svg"
        alt="Processing Message" />
      <p class="message">Creating charge point, please wait ...</p>
    </div>
  </p-blockUI>
</form>
