@import 'variables';

.processing-message {
  width: 34rem;
  height: 5.6rem;
  border: solid 1px #f1f1f1;
  display: flex;
  .ellipse-2 {
    width: 4rem;
    height: 2.4rem;
  }
  .message {
    color: $gray-900;
    font-family: Barlow;
  }
}
