<div class="actions-header">
  <h1 class="actions-header__title">Stations</h1>
  <div class="actions-header__btns">
    <!-- <p-button
      icon="pi pi-file"
      label="Imported Files"
      styleClass="p-button-secondary"></p-button> -->

    <a routerLink="new">
      <p-button icon="pi pi-plus-circle" label="Add New"></p-button>
    </a>
  </div>
</div>
<!-- <p (click)="openAdvancedSearch()">Open advanced search</p>
<bs-station-advanced-search
  [position]="searchDialogPosition"
  [visibility]="searchDialogVisibility"
  (onClose)="onClose()"
></bs-station-advanced-search> -->

<!-- [appliedFilters]="appliedFilters"
(deleteFilterEmitter)="onDeleteFilter($event)" -->
<!-- (handleOpenAdvancedSearch)="openAdvancedSearch()" -->
<!-- [advancedSearchForm]="advancedSearchForm" -->

<bs-confirmation-modal
  [showDialog]="deleteDialogVisibility"
  [header]="'Delete Data'"
  [confirmLabel]="'Delete'"
  (ConfirmDialog)="deleteStations()"
  (closeDialog)="hideDeleteDialog()">
  <p paragraph>Are you sure you want to delete the following ?</p>
  <div data class="dataList">
    <ul>
      <li *ngFor="let station of selectedStationsName">{{ station }}</li>
    </ul>
  </div>
  <div warning-msg class="warning-msg">
    <i class="pi pi-exclamation-triangle"></i>
    <h6>
      Data deleted can’t be restored again, you may have to contact customer
      support to restore any data deleted.
    </h6>
  </div>
  <div loading-msg *ngIf="isDeleteLoading">
    <p-messages severity="info" class="loading-msg margin">
      <ng-template pTemplate>
        <div class="Processing-Message">
          <img
            class="Ellipse-2 spin"
            src="assets/images/processing-spinner.svg"
            alt="Processing Message" />
          <p class="message">Deleting data, please wait ....</p>
        </div>
      </ng-template>
    </p-messages>
  </div>

  <p-messages
    severity="error"
    class="margin"
    error-msg
    *ngIf="hasChargePoints && showDeletionStatusMessage">
    <ng-template pTemplate>
      <div class="error-Message">
        <i class="pi pi-times-circle"></i>
        <p
          class="message"
          *ngIf="
            hasChargePoints && selectedStationsName.length > 1;
            else hasNoChargePoints
          ">
          Some of stations can’t be deleted as they have active charge points,
          please remove their charge points first before deleting.
        </p>
        <p
          class="message"
          *ngIf="
            hasChargePoints && selectedStationsName.length === 1;
            else hasNoChargePoints
          ">
          {{ selectedStationsName[0] }} can’t be deleted as it has active charge
          points, please remove it’s charge points first before deleting.
        </p>
        <ng-template class="message" #hasNoChargePoints>
          <p>{{ errorMessage }}</p>
        </ng-template>
        <button
          title="close-icon"
          (click)="hideErrMsg()"
          class="close-icon"></button>
      </div>
    </ng-template>
  </p-messages>
</bs-confirmation-modal>
<bs-confirmation-toast
  [life]="30000"
  [toastWidth]="{ '2000px': { width: '42rem' } }">
</bs-confirmation-toast>
<bs-station-advanced-search
  [visibility]="searchDialogVisibility"
  (passAppliedFilters)="getAppliedFilters($event)"
  [position]="searchDialogPosition"
  (triggerFilter)="filterTable()"
  (onShowEmitter)="onAdvancedSearchShow()"
  (handleClose)="onClose()"
  [searchForm]="searchForm"
  [formSubmitted]="advancedSearchSubmitted">
</bs-station-advanced-search>

<div class="mt-5"></div>
<div>
  <bs-table
    [entities]="stations?.content || []"
    [totalRecords]="tableTotalRecords"
    [columns]="allTableColumns"
    [loading]="loadingStations"
    searchInput="name"
    (emitDeletion)="showDeleteDialogForMore()"
    (handleOpenAdvancedSearch)="openAdvancedSearch()"
    (selectedEntitiesChange)="onSelectedStationsChange($event)"
    [appliedFilters]="appliedFilters"
    (deleteFilterEmitter)="onDeleteFilter($event)"
    [actionItems]="actionItems"
    (passActiveRow)="setActiveRow($event)"
    (loadPage)="getStations($event)"
    deleteMode="delete">
  </bs-table>
</div>
